@model Tracker.Models.Issue

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <h5>@Html.DisplayNameFor(model => model.Description)</h5>
    <p class="lead">@Html.DisplayFor(model => model.Description)</p>

    <h5>Agent</h5>
    <p class="lead">@Html.DisplayFor(model => model.Agent.FullName)</p>

    <h5>Zgłoszone przez</h5>
    <p class="lead">@Html.DisplayFor(model => model.Notifier.FullName)</p>

    <h5>Firma zgłaszająca</h5>
    <p class="lead">@Html.DisplayFor(model => model.Company.Name)</p>

    <h5>@Html.DisplayNameFor(model => model.Status.Name)</h5>
    <p class="lead">@Html.DisplayFor(model => model.Status.Name)</p>

</div>

<hr />
<h2>Wpisy</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Notification",new {issueId = Model.Id})'">Dodaj</button>
</p>
<hr />
@Html.Partial("_NotificationTable", Model.Notifications)

<button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("List", "Issue")'">Powrót</button>

