@model IEnumerable<Tracker.Models.User>

    <table class="table table-striped table-hover">
        <tr class="info">
            <th>@Html.ActionLink("Imię", ViewContext.RouteData.Values["action"].ToString(), new {
               sortOrder = ViewBag.FirstNameSortParm,
               companyId = ViewBag.CompanyId,
               showArchive = ViewBag.showArchive,
               searchString = ViewBag.UserSearchString
           })</th>
            <th>@Html.ActionLink("Nazwisko", ViewContext.RouteData.Values["action"].ToString(), new {
               sortOrder = ViewBag.LastNameSortParm,
               companyId = ViewBag.CompanyId,
               showArchive = ViewBag.showArchive,
               searchString = ViewBag.UserSearchString
           })</th>
            <th>@Html.ActionLink("Firma", ViewContext.RouteData.Values["action"].ToString(), new {
               sortOrder = ViewBag.CompanySortParm,
               companyId = ViewBag.CompanyId,
               showArchive = ViewBag.showArchive,
               searchString = ViewBag.UserSearchString
           })</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.Lastname)</td>
                <td>@Html.DisplayFor(modelItem => item.Company.Name)</td>
                <td align="right">
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", "User", new {userId = item.Id })'">Szczegóły</button>
                    @if (item.ArchivedTimeStamp == null)
                    {
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Edit", "User", new { userId = item.Id })'">Edytuj</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Delete", "User", new { id = item.Id })'">Usuń</button>
                    }
                </td>
            </tr>
        }
    </table>
