@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zgłoszenia</h1>
    <p>Aplikacja służąca do zapisywania i kontrolowania pracy nad zgłoszeniami</p>
</div>

<div class="col-lg-4">
    <div class="panel panel-primary" onclick="@("window.location.href='" + @Url.Action("List", "Issue") + "'");">
        <div class="panel-heading">
            <h3 class="panel-title">Zgłoszenia</h3>
        </div>
        <div class="panel-body">
            Informacje na temat zgłoszeń, oraz jakie działania zostały podjęte w celu rozwiązania problemów
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-primary" onclick="@("window.location.href='" + @Url.Action("List", "User") + "'");">
        <div class="panel-heading">
            <h3 class="panel-title">Użytkownicy</h3>
        </div>
        <div class="panel-body">
            Informacje na temat pracowników, oraz klientów wraz z danymi kontaktowymi
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-primary" onclick="@("window.location.href='" + @Url.Action("List", "Company") + "'");">
        <div class="panel-heading">
            <h3 class="panel-title">Firmy</h3>
        </div>
        <div class="panel-body">
            Informacje na temat firm, które mają możliwość zgłaszania bieżących problemów
        </div>
    </div>
</div>
