@model Tracker.Models.Issue

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<p>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Edit", "Issue",new {issueId = Model.Id })'">Edytuj</button>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("List", "Issue")'">Powrót</button>
</p>

<h5>Opis</h5>
<p class="lead">@Html.DisplayFor(model => model.Description)</p>

<h5>Agent</h5>
<p class="lead">@($"{Html.DisplayFor(model => model.Agent.FirstName)} {Html.DisplayFor(model => model.Agent.Lastname)}")</p>

<h5>Zgłoszone przez</h5>
<p class="lead">@($"{Html.DisplayFor(model => model.Notifier.FirstName)} {Html.DisplayFor(model => model.Notifier.Lastname)}")</p>

<h5>Firma zgłaszająca</h5>
<p class="lead">@Html.DisplayFor(model => model.Company.Name)</p>

<h5>Status</h5>
<p class="lead">@Html.DisplayFor(model => model.Status.Name)</p>

<h2>Wpisy</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Notification",new {issueId = Model.Id})'">Dodaj</button>
</p>
<table class="table table-striped table-hover">
    <tr class="info">
        <th>Wykonana praca</th>
        <th>Pracownik</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Notifications.OrderBy(x => x.Id))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.WorkDone)</td>
            <td>@($"{Html.DisplayFor(modelItem => item.Worker.FirstName)} {Html.DisplayFor(modelItem => item.Worker.Lastname)}")</td>
            <td>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Edit", "Notification", new {notificationId = item.Id })'">Edytuj</button>
                <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Delete", "Notification",new {id = item.Id })'">Usuń</button>
            </td>
        </tr>
    }
</table>
