@model Tracker.Models.Issue

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wpisy</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Notification",new {issueId = Model.Id})'">Dodaj</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("EditList", "Notification")'">Edytuj</button>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("List", "Issue")'">Powrót</button>
</p>
<table class="table table-striped table-hover">
    <tr class="info">
        <th>@Html.DisplayNameFor(model => model.Notifications)</th>
        <th>@Html.DisplayNameFor(model => model.Notifications)</th>
        <th>@Html.DisplayNameFor(model => model.Notifications)</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Notifications.OrderBy(x => x.Id))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.WorkDone)</td>
            <td>@Html.DisplayFor(modelItem => item.Worker.Lastname)</td>
            <td>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Edit", "Notification", new {notificationId = item.Id })'">Szczegóły</button>
                <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Delete", "Notification",new {id = item.Id })'">Usuń</button>
            </td>
        </tr>
    }
</table>
