@model Tracker.Models.Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<h2>Pracownicy</h2>

<p>
    <div style="float: left; width: 80%;">
        
    </div>
    <div style="float: right; width: 20%;">
        <table>
            <tr>
                @using (Html.BeginForm())
                {
                    <td>
                        @Html.Editor("searchString", null, new { htmlAttributes = new { @class = "form-control", } })
                    </td>
                    <td align="right">
                        <button type="submit" class="btn btn-secondary">Wyszukaj</button>
                    </td>
                }
            </tr>
            <tr>
                <td>
                    @if (ViewBag.showArchive)
                    {
                        <label>
                            <input checked="checked" type="checkbox" onclick="location.href='@Url.Action("Details", "Company",new {
                                                                            showArchive = !ViewBag.showArchive ,
                                                                            searchString = ViewBag.UserSearchString,
                                                                            companyId = Model.Id
                                                                            })'"> Pokaż archiwalne
                        </label>
                    }
                    else
                    {
                        <label>
                            <input type="checkbox" onclick="location.href='@Url.Action("Details", "Company",new {
                                                                            showArchive = !ViewBag.showArchive ,
                                                                            searchString = ViewBag.UserSearchString,
                                                                            companyId = Model.Id
                                                                            })'"> Pokaż archiwalne
                        </label>
                    }
                </td>
            </tr>
        </table>
    </div><br />
</p>
<br />
<hr />

@Html.Partial("_UserTable", Model.Employees)
<p>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("List", "Company")'">Powrót</button>
</p>

