@model IEnumerable<Tracker.Models.Company>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Firm</h2>
<p>
    <div style="float: left; width: 80%;">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Company")'">Dodaj</button>
    </div>
    <div style="float: right; width: 20%;">
        <table>
            <tr>
                @using (Html.BeginForm())
                {
                    <td>
                        @Html.Editor("searchString", null, new { htmlAttributes = new { @class = "form-control", } })
                    </td>
                    <td align="right">
                        <button type="submit" class="btn btn-secondary">Wyszukaj</button>
                    </td>
                }
            </tr>
            <tr>
                <td>
                    @if(ViewBag.showArchive)
                    {
                    <label>
                        <input checked="checked" type="checkbox" onclick="location.href='@Url.Action("List", "Company",new {
                                                                            showArchive = !ViewBag.showArchive ,
                                                                            searchString = ViewBag.CompanySearchString
                                                                            })'"> Pokaż archiwalne
                    </label>
                    }
                    else{
                    <label>
                        <input type="checkbox" onclick="location.href='@Url.Action("List", "Company",new {
                                                                            showArchive = !ViewBag.showArchive ,
                                                                            searchString = ViewBag.CompanySearchString
                                                                            })'"> Pokaż archiwalne
                    </label>
                    }
                </td>
            </tr>
        </table>
    </div><br />
</p>
<br />
<hr />

<table class="table table-striped table-hover">
    <tr class="info">
        <th>
            @Html.ActionLink("Nazwa firmy", "List", new
            {
                sortOrder = ViewBag.CompanySortParm,
                searchString = ViewBag.CompanySearchString,
                showArchive = ViewBag.showArchive
            })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="right">
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", "Company", new {companyId = item.Id })'">Szczegóły</button>
                @if (item.ArchivedTimeStamp == null)
                {
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Edit", "Company", new { companyId = item.Id })'">Edytuj</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Delete", "Company", new { id = item.Id })'">Usuń</button>
                }
                </td>
        </tr>
    }

</table>
