@model Tracker.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>
    <hr />
    <h5>@Html.DisplayNameFor(model => model.Company.Name)</h5>
    <p class="lead">@Html.DisplayFor(model => model.Company.Name)</p>

    <h5>@Html.DisplayNameFor(model => model.UserType.Name)</h5>
    <p class="lead">@Html.DisplayFor(model => model.UserType.Name)</p>

    <h5>@Html.DisplayNameFor(model => model.Email)</h5>
    <p class="lead">@Html.DisplayFor(model => model.Email)</p>

    <h5>@Html.DisplayNameFor(model => model.PhoneNumber)</h5>
    <p class="lead">@Html.DisplayFor(model => model.PhoneNumber)</p>
</div>
<hr />
<h2>Wpisy pracownika</h2>

<p>
    <div style="float: left; width: 80%;">

    </div>
    <div style="float: right; width: 20%;">
        <table>
            <tr>
                @using (Html.BeginForm())
                {
                    <td>
                        @Html.Editor("searchString", null, new { htmlAttributes = new { @class = "form-control", } })
                    </td>
                    <td align="right">
                        <button type="submit" class="btn btn-secondary">Wyszukaj</button>
                    </td>
                }
            </tr>
            <tr>
                <td>
                    @if (ViewBag.showArchive)
                    {
                        <label>
                            <input checked="checked" type="checkbox" onclick="location.href='@Url.Action("Details", "User",new {
                                                                            showArchive = !ViewBag.showArchive ,
                                                                            searchString = ViewBag.NotificationSearchString,
                                                                            userId = Model.Id
                                                                            })'"> Pokaż archiwalne
                        </label>
                    }
                    else
                    {
                        <label>
                            <input type="checkbox" onclick="location.href='@Url.Action("Details", "User",new {
                                                                            showArchive = !ViewBag.showArchive ,
                                                                            searchString = ViewBag.NotificationSearchString,
                                                                            userId = Model.Id
                                                                            })'"> Pokaż archiwalne
                        </label>
                    }
                </td>
            </tr>
        </table>
    </div><br />
</p>
<br />
<hr />

@Html.Partial("_NotificationTable", Model.Notifications)
<p>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("List", "User")'">Powrót</button>
</p>
